body {
  min-width: 200px;
  margin: 0;
  padding: 15px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif;
  background-color: #263238;
  color: #fff;
}

h2 {
  margin: 0 0 8px;
  font-size: 17px;
  font-weight: 500;
  color: #27dddf;
}

p {
  margin: 0;
  font-size: 13px;
  line-height: 1.4;
}

strong {
  font-weight: 400;
  text-decoration: underline;
}
