:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #263238;
  line-height: 1.5;
}

h1,
h2 {
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: 500;
  color: #27dddf;
}

p {
  margin: 0 0 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #263238;
    background-color: #ffffff;
  }
  a:hover {
    color: #27dddf;
  }
  button {
    background-color: #f9f9f9;
  }
}
